CREATE TABLE repairs (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  customer_name VARCHAR(255) NOT NULL,
  customer_phone VARCHAR(255),
  device_model VARCHAR(255) NOT NULL,
  imei VARCHAR(255),
  issue_description TEXT NOT NULL,
  estimated_price NUMERIC(10, 2),
  status VARCHAR(50) DEFAULT 'Pending',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);
ALTER TABLE repairs ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
all
authenticated
for
repairs\ ON repairs FOR ALL TO authenticated USING (true) WITH CHECK (true);
ALTER PUBLICATION supabase_realtime ADD TABLE repairs;
